<!doctype html>
<html>
<head>
	<title>Controle web Pibot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/estilo.css">
	<script src="../static/js/jquery-3.6.4.min.js"></script> 
	<script  src="../static/js/main.js"></script>
</head>

<body class="jumbotron" style="overflow: hidden; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
backgroung-color:#e3e6f2;font-size: xx-large;">
	
	<div class="page-header">
	  <img src="../static/img/robot.png">
	  <h1>EPAMINONDAS CONTROL</h1>
	</div>
	
	<form method = "post" style="text-align: center; color:black;">
		<p class="cont-coord">	
			X: <span id="x_coordinate"> </span>
			Y: <span id="y_coordinate"> </span>
			Angle: <input id="angulo" name="angulo" type="hidden"><span  id='angle'></span> </span></input>
		</p>
		<div class="cont-speed">
			<label class="text-slider" for="speed"> Speed - 1 to 5</label>
			<input type="range" id="speed" name="speed" class="slider"
				min="1" max="5" value="0" oninput="document.getElementById('txtspeed').innerHTML = this.value">
				<label id="txtspeed" class="text-slider" for="speed"></label>
		</div>
	 </form>
	<div class="container">
		<iframe class="frame" scrolling=no marginwidth=0 marginheight=0 frameborder=0 src="http://192.168.3.1/camerastream/min.php" style="float:left"></iframe>
		<canvas class="canvas" id="canvas"></canvas>	
	
	</div>

</body>
</html>
